name = "QuantumFockFloquet"
uuid = "321a32ba-c27a-465a-a448-0b124fab4d50"
authors = ["Louis Lammertyn"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
